
body {
    margin: 0;
    padding: 0;
	background: black;
	margin-left:30%;
	color: white;        

}

.layout-container {
    display: flex;      
    height: 100vh;     
}


.sidebar {
    position: fixed;     
    top: 0;              
    left: 0;             
    width: 25%;          
    height: 100%;        
    background-color: #3B3A30; 
    color: white;        
    padding: 20px;
    box-sizing: border-box; 
}

.main-content {
    width: 75%;          
    overflow-y: auto;  
    padding: 40px;
    background-color: #f9f9f9;
	    color: white;        

}